.OrderTab {
  display: flex;
  padding-top: .8em;
  transition: all .3s ease;
  opacity: 1;
  cursor: pointer;

  &.status-true {
    opacity: .6;
    pointer-events: none;
  }

  &:hover {
    &.status-false {
      opacity: .6
    }
  }

  &:first-child {
    padding-top: 0;
  }

  h4 {
    margin: 0;
    font-family: $fontAbel;
    color: #e6e6e6;
    font-size: 1.2em;
    letter-spacing: .03em;
  }
}
