.OrderTab {
  display: flex;
  transition: all .3s ease;
  opacity: 1;
  cursor: pointer;
  line-height: 2.5;
  padding: 0 .6em;
  align-items: center;
  justify-content: space-between;
  border-bottom: #525252 solid 1px;

  i {
    color: #e6e6e6;
  }

  &.status-true {
    background: #2d2d2d;
    pointer-events: none;

    h4 {
      color: #e6e6e691;
    }

    i {
      color: #e6e6e691;
    }
  }

  &:hover {
    &.status-false {
      opacity: .6
    }
  }

  h4 {
    margin: 0;
    font-family: $fontAbel;
    color: #e6e6e6;
    font-size: 1.3em;
    letter-spacing: .03em;
    font-weight: 300;
  }
}
