.NoteContainer {
  display: flex;
  background: #1d1d1d;
  flex: 2 1;
  border-top: solid 1px #000000;
  border-right: solid 1px #000000;

  .NoteTab-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
}
